/* You can add global styles to this file, and also import other style files */
.custom-modalbox > mat-dialog-container {
  padding: 0px;
  background: transparent;
}

.backdropBackground {
  background-color: blue;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
