  <div class="card card-login card-hidden">
    <div class="card-header card-header-danger text-center">
      <h4 class="card-title"><i class="material-icons">edit</i><i class="material-icons">person</i>Editar Usuario</h4>
    </div>
    <div class="card-body text-center">
      <div class=" card-profile text-center">
        <div class="card-header ">
          <div class="card-avatar">
            <a>
              <img class="img" src="./assets/img/faces/myPerfil.png">
            </a>
          </div>
        </div>
        <div class="card-body ">
          <h4 class="card-title">MRAMIREZ</h4>
        </div>
        <div class="row" style="padding:12px">
          <div class="col-6 col-md-4"><input type="text" value="" placeholder="Nombre(s)" class="form-control" /></div>
          <div class="col-6 col-md-4"><input type="text" value="" placeholder="Apellido Paterno" class="form-control" /></div>
          <div class="col-6 col-md-4"><input type="text" value="" placeholder="Apellido Materno" class="form-control" /></div>
        </div>
        <div class="row" style="padding:15px">
          <div class="col-6 col-md-4"><button mat-raised-button class="btn btn-warning">Cambiar contraseña</button></div>
          <div class="col-6 col-md-4"><button mat-raised-button class="btn btn-warning">Cambiar puesto</button></div>
          <div class="col-6 col-md-4"><button mat-raised-button class="btn btn-warning">Cambiar sucursal</button></div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-4">
          <button class="btn btn-danger" mat-dialog-close mat-dialog-close="true">Guardar</button>
        </div>
        <div class="col-4">
          <button class="btn btn-danger" mat-dialog-close mat-dialog-close="false">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
